<h1 class="light-heading">D3 with Angular examples</h1>
<hr>
<div class="row">
  <a href="#/barchart" class="anchor-wrap">
    <div class="col-sm-6 col-md-6 col-lg-3 example-thumb">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="light-heading panel-title">Bar Chart</h3>
        </div>
        <div class="panel-body">
          <img src="images/barchart.png" alt="bar chart" class="img-responsive">
        </div>
      </div>
    </div>
  </a>

  <a href="#/linechart" class="anchor-wrap">
    <div class="col-sm-6 col-md-6 col-lg-3 example-thumb">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="light-heading panel-title">Line Chart</h3>
        </div>
        <div class="panel-body">
          <img src="images/linechart.png" alt="line chart" class="img-responsive">
        </div>
      </div>
    </div>
  </a>

  <a href="#/piechart" class="anchor-wrap">
    <div class="col-sm-6 col-md-6 col-lg-3 example-thumb">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="light-heading panel-title">Pie Chart</h3>
        </div>
        <div class="panel-body">
          <img src="images/piechart.png" alt="pie chart" class="img-responsive">
        </div>
      </div>
    </div>
  </a>

  <a href="#/map" class="anchor-wrap">
    <div class="col-sm-6 col-md-6 col-lg-3 example-thumb">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="light-heading panel-title">Map</h3>
        </div>
        <div class="panel-body">
          <img src="images/map.png" alt="map" class="img-responsive">
        </div>
      </div>
    </div>
  </a>
</div>